.services--page {
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.services--page_content {
    width: 260px;
    height: auto;
    text-align: center;
    padding: 2rem 0.5rem;
    border: solid 1px var(--color-yellow);
    font-family: var(--font-base);
}