.header--page {
    height: 5vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1001;
    background-color: var(--color-yellow);
    font-family: var(--font-base);
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header--page p {
    margin-bottom: 0;
}
.header--page a {
    text-decoration: underline;
    color: var(--color-black);
}